 /* Variables  */

$font-family-sans-serif:  'Open Sans', sans-serif;
$font-family-serif:       'Roboto Slab', serif;

//colors
$blue: #007de9;
$bluehover: #1d8fed;
$white: #fff;
$grey: #757575;
$greyish: #b2b6b9;
$darkgrey: #3e3f41;
$bluish: #d0dce7;
$mainpagecolor: #f4f8f9;
$dime:#72808a;
$lightdime:#d0ddeb;
$dark: #42474b;
//urls
$login-background: url(../images/fullscreen_bg_image.jpg);

@import "project";
@import "buttons";
@import "header";
@import "profile";
@import "menutouch";
@import "media";
@import "editable";
