.button-outline {
    background-color: transparent;
    text-transform: uppercase;
    font-size: 12px;
    padding: 6px 19px 6px 19px;
    font-weight: 600;
    font-family: $font-family-sans-serif;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

.button-outline-big {
      background-color: transparent;
      text-transform: none;
      font-size: 12px;
      padding: 17px 19px 9px 19px;
      font-weight: 600;
      font-family: $font-family-sans-serif;
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }

.blue {
    border: 1px solid $blue;
    color: $blue;
    &:hover {
      color: $white;
      background: $bluehover;
      border: 1px solid $bluehover;
    }
  }

  .blue-outline {
      border: 1px solid transparent;
      color: $blue;
      &:hover {
        color: $white;
        background: $bluehover;
        border: 1px solid $bluehover;
      }
    }

  .grey {
      border: 1px solid $lightdime;
      color: $dime;
      &:hover {
        color: $white;
        background: $grey;
        border: 1px solid $grey;
      }
    }
