.tip-popupeditable {
  z-index: 1000;
  text-align: left;
  padding: 6px 8px;
  min-width: 50px;
  max-width: 300px;
  color: #000;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 11px 0px rgba(0,0,0,0.32);
  -moz-box-shadow: 1px 2px 11px 0px rgba(0,0,0,0.32);
  box-shadow: 1px 2px 11px 0px rgba(0,0,0,0.32);

  .tip-inner {
    font: 12px/16px arial,helvetica,sans-serif;
  }

  .tip-arrow-top {
    margin-top: -6px;
    margin-left: -5px;
    /* approx. half the width to center it */
    top: 0;
    left: 50%;
    width: 9px;
    height: 6px;
    background: url(../images/popup-arrows.gif) no-repeat;
  }
  .tip-arrow-right {
    margin-top: -4px;
    /* approx. half the height to center it */
    margin-left: 0;
    top: 50%;
    left: 100%;
    width: 6px;
    height: 9px;
    background: url(../images/popup-arrows.gif) no-repeat -9px 0;
  }
  .tip-arrow-bottom {
    margin-top: 0;
    margin-left: -5px;
    /* approx. half the width to center it */
    top: 100%;
    left: 50%;
    width: 9px;
    height: 6px;
    background: url(../images/tip-popupeditable_arrows.gif) no-repeat -18px 0;
  }
  .tip-arrow-left {
    margin-top: -4px;
    /* approx. half the height to center it */
    margin-left: -6px;
    top: 44%;
    left: 0;
    width: 6px;
    height: 9px;
    background: url(../images/popup-arrows.gif) no-repeat -27px 0;
  }
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */

/*! X-editable - v1.5.1
* In-place editing with Twitter Bootstrap, jQuery UI or pure jQuery
* http://github.com/vitalets/x-editable
* Copyright (c) 2013 Vitaliy Potapov; Licensed MIT */

.editableform {
  margin-bottom: 0;
  /* overwrites bootstrap margin */
  .control-group {
    margin-bottom: 0;
    /* overwrites bootstrap margin */
    white-space: nowrap;
    /* prevent wrapping buttons on new line */
    line-height: 20px;
    /* overwriting bootstrap line-height. See #133 */
  }
  .form-control {
    width: auto;
  }
}

/*
  BS3 width:1005 for inputs breaks editable form in popup
  See: https://github.com/vitalets/x-editable/issues/393
*/

.editable-buttons {
  display: inline-block;
  /* should be inline to take effect of parent's white-space: nowrap */
  vertical-align: top;
  margin-left: 7px;
  /* inline-block emulation for IE7*/
  zoom: 1;
  *display: inline;
  &.editable-buttons-bottom {
    display: block;
    margin-top: 7px;
    margin-left: 0;
  }
}

.editable-input {
  padding-top: 24px;
  padding-bottom: 11px;
  vertical-align: top;
  display: inline-block;
  /* should be inline to take effect of parent's white-space: nowrap */
  width: auto;
  /* bootstrap-responsive has width: 100% that breakes layout */
  white-space: normal;
  /* reset white-space decalred in parent*/
  /* display-inline emulation for IE7*/
  zoom: 1;
  *display: inline;
}

.editable-buttons {
  .editable-cancel {
    background-color: transparent;
    text-transform: uppercase;
    font-size: 12px;
    padding: 6px 19px 6px 19px;
    font-weight: 600;
    font-family: "Open Sans",sans-serif;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #007de9;
    color: #007de9;
    margin-left: 7px;
  }
  .editable-submit {
    background-color: #007de9;
    text-transform: uppercase;
    font-size: 12px;
    padding: 6px 19px 6px 19px;
    font-weight: 600;
    font-family: "Open Sans",sans-serif;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #007de9;
    color: #ffffff;
    margin-left: 7px;
  }
  button.ui-button-icon-only {
    height: 24px;
    width: 30px;
  }
}

/*for jquery-ui buttons need set height to look more pretty*/

.editableform-loading {
  background: url(../images/loading.gif) center center no-repeat;
  height: 25px;
  width: auto;
  min-width: 25px;
}

.editable-inline .editableform-loading {
  background-position: left 5px;
}

.editable-error-block {
  max-width: 300px;
  margin: 5px 0 0 0;
  width: auto;
  white-space: normal;
  &.ui-state-error {
    padding: 3px;
  }
}

/*add padding for jquery ui*/

.editable-error {
  color: red;
}

/* ---- For specific types ---- */

.editableform .editable-date {
  padding: 0;
  margin: 0;
  float: left;
}

.editable-inline .add-on .icon-th {
  margin-top: 3px;
  margin-left: 1px;
}

/* checklist vertical alignment */

.editable-checklist label {
  input[type="checkbox"], span {
    vertical-align: middle;
    margin: 0;
  }
  white-space: nowrap;
}

/* set exact width of textarea to fit buttons toolbar */

.editable-wysihtml5 {
  width: 566px;
  height: 250px;
}

/* clear button shown as link in date inputs */

.editable-clear {
  clear: both;
  font-size: 0.9em;
  text-decoration: none;
  text-align: right;
}

/* IOS-style clear button for text inputs */

.editable-clear-x {
  background: url(../images/clear.png) center center no-repeat;
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  opacity: 0.6;
  z-index: 100;
  top: 50%;
  right: 6px;
  margin-top: -6px;
  &:hover {
    opacity: 1;
  }
}

.editable-pre-wrapped {
  white-space: pre-wrap;
}

.editable-container {
  &.editable-popup {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    max-width: none !important;
    /* without this rule poshytip/tooltip does not stretch */
  }
  &.popover {
    width: auto;
    /* without this rule popover does not stretch */
  }
  &.editable-inline {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    /* inline-block emulation for IE7*/
    zoom: 1;
    *display: inline;
  }
  &.ui-widget {
    font-size: inherit;
    /* jqueryui widget font 1.1em too big, overwrite it */
    z-index: 9990;
    /* should be less than select2 dropdown z-index to close dropdown first when click */
  }
}

.editable-click {
  text-decoration: none;
  border-bottom: dashed 1px #0088cc;
}

a.editable-click {
  text-decoration: none;
  border-bottom: dashed 1px #0088cc;
  &:hover {
    text-decoration: none;
    border-bottom: dashed 1px #0088cc;
  }
}

.editable-click.editable-disabled {
  color: #585858;
  cursor: default;
  border-bottom: none;
}

a.editable-click.editable-disabled {
  color: #585858;
  cursor: default;
  border-bottom: none;
  &:hover {
    color: #585858;
    cursor: default;
    border-bottom: none;
  }
}

.editable-empty {
  font-style: italic;
  color: #DD1144;
  /* border-bottom: none; */
  text-decoration: none;
  &:hover, &:focus {
    font-style: italic;
    color: #DD1144;
    /* border-bottom: none; */
    text-decoration: none;
  }
}

.editable-unsaved {
  font-weight: bold;
  &:after {
    /*    content: '*'*/
  }
}

.editable-bg-transition {
  -webkit-transition: background-color 1400ms ease-out;
  -moz-transition: background-color 1400ms ease-out;
  -o-transition: background-color 1400ms ease-out;
  -ms-transition: background-color 1400ms ease-out;
  transition: background-color 1400ms ease-out;
}

.form-horizontal .editable {
  padding-top: 5px;
  display: inline-block;
}

#popupinput{
font-size: 15px !important;
padding-bottom: 9px !important;
display: block;
width: auto !important;
border: none !important;
border-bottom: 1px solid #d0dce7 !important;
font-weight: 200 !important;
}
  .tip-inner{
  label {
    position: static !important;
    top: 0px !important;
    left: 0px !important;
    color: #b2b6b9 !important;
    font-size: 12px !important;
    font-weight: 100 !important;
    text-transform: uppercase !important;
  }
}

#user-details{
  td{
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
