.header-login-container{
  text-align: right;
  width: 100%;
}

.header-container {
  display: block;
}

.header-container-inner {
  font-family: $font-family-sans-serif;
  width: 80%;
  display: block;
  background: $white;
  padding: 24px 0px 0px 0px;
  margin: 25px auto;
  text-align: center;
	-webkit-border-radius: 4px;
	border-radius: 4px;
  -webkit-box-shadow: -1px 0px 10px -3px rgba(0,0,0,0.32);
  -moz-box-shadow: -1px 0px 10px -3px rgba(0,0,0,0.32);
  box-shadow: -1px 0px 10px -3px rgba(0,0,0,0.32);
}

.avatar-image {
  width: 210px;
  float: left;
  position: relative;
  top: 3px;
  img {
    width:184px
  }
}

.header-inner{
  padding-top: 30px;
  height: 214px;
}

.cover-image{
  .icon{
    color: $lightdime;
    font-size: 2.2em;
  }
  span{
    vertical-align: super;
    padding-left: 10px;
    font-weight: normal;
  }
}

.header-mobile-inner{
  display: none;

  .avatar-image {
  padding: 23px 23px 0px 23px;
  top:  initial;
  width: initial;
  float:  initial;
  width: initial;
  text-align: center;
  }

  .profile-info{
      .profile-info-inner{
        padding: 0px 20px 0px 20px;
      }
        .profile-rating {
            text-align: left;
            position: initial;
            bottom: initial;
            padding-right: initial;

            span{
              padding-left: 0px;
              position: relative;
              bottom: 12px;
            }
            .followers{
              bottom: 4px !important;
              padding-left: 8px;
            }
    }
  }
  .menu-container{
    bottom: 0px;
  }
  .menu-container-inner{
    left: 0px;
    width: initial;
  }
}
.menu-inner {
  max-width: 992px;
  margin: 0px auto;
}
