
//medias
$mobile: "screen and (max-width: 575px)";
$mobile-small: "screen and (max-height: 440px)";

$profile-mobile: "screen and (max-width: 992px)";

//Profile page header
@media #{$profile-mobile}  {
  .menu-container{
    width: 100%;
    position: relative;
    -webkit-box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.32);
    box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.32);
    height: 51px;
    top: 0px;
  }
  .cover-image{
    display: none;
  }
  .header-inner{
    display: none;
  }
  .header-mobile-inner{
    display: block;
  }
  .mobile-edit-button{
    display: block;
  }
  .profile-inner{
    .desktop-edit{
    display:none;
    }
    .field {
    background-color: #ffffff;
    }
    .icon {
    background-color: #ffffff;
    }
  }
}


@media #{$mobile}  {
  //Login page

  .login-container{
    display: block;
  }
  .group {
    padding-left: 20px;
    padding-right: 20px;
  }
  .submit {
    position: absolute;
    bottom: 0px;
  }
  label {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-inner {
    width: 100%;
    padding: 24px 0px 0px 0px;
    height: 100%;
  }
//Profile page
.menu-container{
  width: 100%;
  position: absolute;
  -webkit-box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.32);
  box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.32);
  height: 51px;
  top: 505px;
}

  .profile-container-inner {
    width: 100%;
    padding: 24px 0px 28px 0px;
  }
//Header-inner
  .header-container-inner {
    width: 100%;
    padding: 10px 0px 0px 0px;
    height: 100%;
    background: transparent;
    -webkit-border-radius: 0px;
  	border-radius: 0px;
    -webkit-box-shadow: none;
 	  -moz-box-shadow: none;
 	  box-shadow: none;
  }
  .header-container {
    margin-bottom: 82px
  }
//Trigger only firefox
  @-moz-document url-prefix() {
    .header-container {
    margin-bottom: 93px
  }
}

  .flickity-viewport {
    position: relative;
    height: 100%;
    background-color: #fff;
  }
}

@media #{$mobile-small} {
  .submit {
 position: relative;
 bottom: 0px;
 }
}
