.scroll {
  white-space: nowrap;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.no-scroll{
  .nav-item{
        padding: 5px 16px 15px 12px !important;
        line-height: 4.3em !important;
  }
  //Trigger only firefox
  @-moz-document url-prefix() {
    .nav-item{
          padding: 5px 16px 14px 12px !important;
          line-height: 4.3em !important;
        }
      }
}

.nav-item {
  padding: 5px 16px 1px 12px;
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 3.5em;
  &:hover{
    border-bottom: 2px solid #007de9;
  }
  &:not(:last-child) {
  }
  a{
    color: $darkgrey !important;
  }
}
.is-selected{
  border-bottom: 2px solid $blue;
}

.flickity-enabled {
  position: relative;
  &:focus {
    outline: none;
  }
}

.flickity-viewport {
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
    &.is-pointer-down {
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }
  }
}

.menu-container{
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0px -2px 6px -4px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px -2px 6px -4px rgba(0,0,0,0.32);
  box-shadow: 0px -2px 6px -4px rgba(0,0,0,0.32);
  height: 51px;
  bottom: 44px;
}

.menu-container-inner{
  width: 600px;
  position: relative;
  left: 114px;
}
.flickity-prev-next-button{
  visibility: hidden;
}
