.profile-inner{
  padding: 0px 20px 0px 20px;
  .icon{
  padding: 10px 10px 10px 10px;
  background-color: $mainpagecolor;
  color: $grey;
  display: inline;
  }
  .icon-mobile{
  padding: 10px 12px 10px 14px;
  background-color: $mainpagecolor;
  color: $grey;
  display: inline-block !important;
  }
  .field{
  padding: 10px 0px 10px 10px;
  background-color: $mainpagecolor;
  color: $dark;
  font-weight: 200;
  font-size: 0.9em;
  }
}

.hover-edit{
  background-color: $mainpagecolor;
  color: $dark;
  &:hover{
    color: $white;
    background-color: $blue;
  }
}

.profile-container-inner {
  font-family: $font-family-sans-serif;
  width: 80%;
  height: auto;
  display: block;
  background: $white;
  padding: 24px 0px 28px 0px;
  margin: 25px auto;
	-webkit-border-radius: 4px;
	border-radius: 4px;
  -webkit-box-shadow: -1px 0px 10px -3px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: -1px 0px 10px -3px rgba(0, 0, 0, 0.32);
  box-shadow: -1px 0px 10px -3px rgba(0, 0, 0, 0.32);
}

.profile-container{
  background: $mainpagecolor;
}

.profile-info {
  width: 100%;

  .user-details{
    text-align: left;
    .user-name{
      font-weight: 600;
      font-size: 1.1em;
      color: $darkgrey;
    }
    .icon{
      padding-right: 10px;
      font-size: 1.4em;
    }
    .user-info{
      font-size: 0.8em;
      color: $darkgrey;
      line-height: 10px;
    }
  }

  .profile-rating{
    text-align: right;
    position: relative;
    bottom: 116px;
    padding-right: 20px;
    .icon{
      padding-right: 2px;
      font-size: 1.4em;
      color: $dime;
    }
    span{
      font-size: 0.8em;
      color: $dime;
      padding-left: 10px;
      position: relative;
      bottom: 3px;
    }
  }
}

.profile-followers{
    text-align: right;
    position: relative;
    bottom: 60px;
    padding-right: 20px;
    float: right;
  .icon{
    padding-right: 2px;
    font-size: 1.4em;
    color: $dime;
  }
  span{
    font-size: 0.8em;
    color: $dime;
    padding-left: 10px;
    position: relative;
    bottom: 3px;
  }
}

.profile-title {
    color: #81888e;
    font-size: 1.2em;
    font-weight: normal;
}

.mobile-edit-button{
  position: relative;
  float: right;
  display:none;
}

.mobile-touch{
  padding: 0px !important;
}

.mobile-edit-button{
  position: relative;
  bottom: 55px;
}

.edit-buttons-wrapper{
  top: 11px;
  position: relative;
}
