body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: table;
}

a {
color: $blue;
cursor: auto;
text-decoration: none;
}

form {
  margin: auto;
}

.login-container {
  display: table-cell;
  vertical-align: middle;
  background: $login-background no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-inner{
  padding-right: 24px;
}

.container-inner {
  font-family: $font-family-sans-serif;
  width: 400px;
  display: block;
  background: $white;
  padding: 24px 50px 50px 50px;
  margin: 0px auto;
  text-align: center;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.form-title {
	border-bottom: 1px solid $bluish;
	font-size: 1.4em;
	padding-bottom: 23px;
}

.form-subtitle {
	color: $greyish;
	font-size: 0.8em;
}

.group {
  position: relative;
  margin-bottom: 45px;
}

input {
  font-size: 18px;
  padding-bottom: 20px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #d0dce7;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 1px solid $bluish;
  &:focus {
    outline: none;
  }
}

input[type="submit"]{
  -webkit-appearance: none;
}

.submit{
  background: $blue;
  color: $white;
  padding:15px 15px;
  border:0 none;
  cursor:pointer;
  text-transform: uppercase;
  font-size:14px;
  -webkit-border-radius: 4px;
   border-radius: 4px;
  &:hover {
    outline: none;
    background: $bluehover;
  }
}

label {
  color: $greyish;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  text-transform: uppercase;
}

.label-mobile {
  color: $greyish;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0px !important;
  top: 10px !important;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  top: -20px !important;
  font-size: 13px !important;
  text-transform: uppercase;
}

input {
  &:focus ~ label, &:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: $greyish;
  }
}

//custom material like input effects
.bar {
  position: relative;
  display: block;
  width: 100%;
  &:before, &:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: $blue;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  &:before {
    left: 50%;
  }
  &:after {
    right: 50%;
  }
}

input:focus ~ .bar {
  &:before, &:after {
    width: 50%;
  }
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

.loader {
      width: 40px;
      position: relative;
      top: 60px;
}

.load-container{
      text-align: center;
      width: 100%;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: $blue;
  }

  to {
    width: 0;
    background: transparent;
  }
}


@-moz-keyframes inputHighlighter {
  from {
    background: $blue;
  }

  to {
    width: 0;
    background: transparent;
  }
}


@keyframes inputHighlighter {
  from {
    background: $blue;
  }

  to {
    width: 0;
    background: transparent;
  }
}
